* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: powderblue;
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
}

header {
  text-align: center;
  margin-top: 30px;
}

ul {
  list-style: none;
  margin-top: 5px;
}

li {
  display: inline;
}

li:first-child {
  margin-right: 3px;
}

li:last-child {
  margin-left: 3px;
}

.game-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  margin: 20px 0;
}

.hidden {
  display: none;
}

img {
  width: 300px;
  height: 400px;
}

.wip-wrapper {
  margin: 5px 0;
}

.wip-part {
  margin: 0 3px;
  font-weight: bold;
  font-size: 24px;
}

.alpha-btns-wrapper {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 3px;
}

.alpha-btn {
  padding: 5px;
  background-color: palegoldenrod;
  cursor: pointer;
}

.selected {
  color: gray;
  background-color: lightgray;
  cursor: default;
}
